.button {
    width: 120px;
    height: 35px;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    border-radius: 17px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    letter-spacing: 0.2px;
    outline: 0;
    background-color: #0B83ED;

    &:hover {
        opacity: 0.8;
    }

    &--disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}