.text-input {
    height: 45px;
    outline: 0;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid #DDDFE2;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.2s border-color;
    font-size: inherit;

    &:hover, &:focus {
        border-color: #0B83ED;
    }
}