.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 66px;
    border-bottom: 1px solid black;
    padding: 0 30px;
    background: #242526;
    color: #D7D9DE;

    &__username {
        margin-right: 20px;
    }
}