.login-form {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 170px;
    padding: 36px;
    border-radius: 10px;
    box-shadow: -9px -9px 12px -7px rgba(244,244,244,0.91);
    border: 1px solid #DDDFE2;
    background: #FFFFFF;

    .label {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__login-btn {
        margin: auto 0 0 auto;
    }
}